@use "variables" as v;

body{
  @include v.mobile{
    flex-direction: column;
    align-items: center;
  }
}
.agenda{
  height: 100%;
  width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
grid-template-areas: 
"ag . ex";
gap: 20px;
@include v.mobile{
  grid-template-columns: 1fr;
  grid-template-areas:
      "ag"
      "ex";
    justify-items: center;
    padding: 0;
}

.turnoag{
    grid-area: ag;
form{
  @extend .form;
div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
input {
  @extend .input;
  }
  .bottom{
  @extend .bottom
}
}

}
.turnoex{
    grid-area: ex;
    .experiencia{
      font-size: 4em;
    }
    }
form{
  @extend .form;
div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
input {
  @extend .input;
  }
  .bottom{
  @extend .bottom
}
}
}


.accordion-button.collapsed{
    background-color: v.$color_primario !important;
    color: v.$color-titulos
}
.accordion-body{
    background-color: v.$color_navegacion;
    font-family: v.$fuentesecundaria;
}

.tarjetas {
  display: flex;             
  flex-wrap: wrap;           
  justify-content: center;   
  align-items: flex-start;   

.card {
  @extend .card
}

.card-img-top {
    overflow: hidden;
}

.experiencia{
  font-size: 3em;
}

}


